body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, input, textarea, fieldset, figure {
  margin: 0;
  padding: 0; }

html {
  font-size: 26.67vw; }

html, body {
  height: 100%; }

ul, ol {
  list-style: none; }

a {
  display: block;
  text-decoration: none; }

img {
  border: 0;
  display: block; }

input {
  display: block;
  outline: none; }

body {
  display: -webkit-flex;
  flex-direction: column;
  background: #f4f4f4; }

.download_bar {
  width: 100%;
  height: .62rem;
  box-sizing: border-box;
  padding: .1rem;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  justify-content: space-between;
  background: #fff;
  align-items: center; }
  .download_bar .download_one {
    width: 2.88rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .download_bar .download_one .delete_ico {
      width: .2rem;
      height: .2rem; }
      .download_bar .download_one .delete_ico img {
        width: 100%;
        height: 100%; }
    .download_bar .download_one .logo_ico {
      width: .43rem;
      height: .43rem; }
      .download_bar .download_one .logo_ico img {
        width: 100%;
        height: 100%; }
    .download_bar .download_one .down_txt h3 {
      font-size: .14rem;
      font-weight: 600; }
    .download_bar .download_one .down_txt p {
      font-size: .10rem;
      color: #666; }
  .download_bar .download_two {
    width: .76rem;
    height: .3rem;
    margin-left: 4px; }
    .download_bar .download_two img {
      width: 100%;
      height: 100%; }

.header {
  background: #fff;
  width: 100%;
  height: .38rem;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center; }

.header .m_logo {
  width: .79rem;
  height: .38rem; }

.m_logo img {
  width: 100%;
  height: 100%; }

.m_search {
  width: 2.57rem;
  height: .28rem;
  background: #f4f4f4;
  line-height: .28rem;
  display: flex;
  align-items: center; }
  .m_search .search_ico {
    width: .15rem;
    height: .15rem;
    margin-left: .08rem; }
    .m_search .search_ico img {
      width: 100%;
      height: 100%; }
  .m_search input {
    width: 2.3rem;
    height: 100%;
    background: #f4f4f4;
    font-size: .12rem;
    color: #999999;
    border: none;
    margin-left: 6px; }

.m_email {
  width: .4rem;
  height: .4rem; }
  .m_email img {
    width: 100%;
    height: 100%; }

.footer {
  width: 100%;
  background: #fff;
  height: .5rem;
  border-top: 1px solid #b0b0b0;
  display: -webkit-flex;
  justify-content: space-around; }
  .footer .footer_con {
    width: .75rem;
    height: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around; }
    .footer .footer_con .con_img {
      display: block;
      width: .24rem;
      height: .24rem;
      margin-top: 4px;
      background-image: url(../img/imgbg.png);
      background-size: cover; }
    .footer .footer_con .con_txt {
      display: block;
      font-size: .12rem;
      line-height: .14rem;
      margin-bottom: 4px;
      color: #845f3f; }
  .footer .footer .footer_con:nth-of-type(1) a {
    background-position: 0  0%; }
  .footer .footer_con:nth-of-type(2) a {
    background-position: 0  22.2222%; }
  .footer .footer_con:nth-of-type(3) a {
    background-position: 0  44.4444%; }
  .footer .footer_con:nth-of-type(4) a {
    background-position: 0  66.6666%; }
  .footer .footer_con:nth-of-type(5) a {
    background-position: 0  88.8888%; }
