.contaier{
    width:100%;
    height: auto;
    overflow-y: scroll;
    flex: 1;
}
.contaier::-webkit-scrollbar{
    display: none;
}
/* header */
.head{
    width:100%;
    height:1rem ;
    box-sizing: border-box;
    padding:0 .2rem;
    background-image: url(../img/personal_bg_top.png);
    background-size:cover;
    display: flex;
    align-items: center;
}
.head img{
    width:.6rem;
    height: .6rem;
}
.head a{
    font-size: .14rem;
    color: #fff;
    flex: 1;
    margin-left: .2rem;
}
/* content */
.nav{
    width:100%;
    height: .46rem;
    padding-top:5px;
    display: flex;
    box-sizing: border-box;
    padding-left: .2rem;
    padding-right: .1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(229, 229, 229);
    background: #fff;
}
.nav a{
    font-size: .14rem;
    color:#000;
}
.nav img{
    width:.15rem;
    height: .15rem;
}
.list{
    width:100%;
    box-sizing: border-box;
    padding-left: .2rem;
    padding-right: .1rem;
    height: .75rem;
    padding-bottom: 5px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list_per{
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
    align-items: center;
}
.list_per img{
    width:.23rem;
    height: .23rem;
}
.list_per span{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin-top:5px;
}
.new_banner{
    width:100%;
    height: .83rem;
}
.new_banner img{
    width:100%;
    height: 100%;
}
.myzc{
    width:100%;
    box-sizing: border-box;
    padding-left: .2rem;
    padding-right: .1rem;
    height: .49rem;
    background: #fff;
    border-bottom: 1px solid rgb(229, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myzc_lft{
    display: flex;
    align-items: center;
}
.myzc_lft img{
    width:.38rem;
    height: .38rem;
}
.myzc_lft span{
    font-size: .14rem;
    color:rgb(51, 51, 51);
}

.myzc_rigt{
    display: flex;
    align-items: center;
}
.myzc_rigt span{
    font-size: .12rem;
    color: rgb(153, 153, 153);
}
.myzc_rigt img{
    width:.15rem;
    height: .15rem;
}
.return{
    width:100%;
    height: .45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px 0;
}
.return div{
    width:1rem;
    height:.45rem;
    background: #fff;
    font-size: .14rem;  
    text-align: center;
    line-height: .45rem;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
}
.footer .footer_con:nth-of-type(5) a {
    background-position: 0  100%; }
