/* header */
.header_box{
    width:100%;
    height: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: .1rem;
    padding-left:0; 
    background: #fff;
    border-bottom: 1px solid #e5e5e6;
    margin-bottom: 3px;
}
.header_box .m_back{
    width:.39rem;
    height: .48rem;
}
.m_back img{
    width:100%;
    height: 100%;
}
.header_box .m_tit,.m_edit{
    font-size: .16rem;
    color:#595959;
}
.header_box .m_edit{
    font-size: .12rem;
}
/* shop container */
.shop_container{
    width:100%;
    height: auto;
    flex:1;
    overflow-y: scroll;
}
.shop_container::-webkit-scrollbar{
    display: none;
}
/* shop nav */
.shop_nav{
    width:100%;
    height: .44rem;
    background: #fff;
    display: -webkit-flex;
    box-sizing: border-box;
    padding: .1rem;
    border-bottom: 1px solid #efefef;
    margin-bottom: 1px;
    
}
.shop_nav a{
    display: flex; 
    flex:1;
}
.shop_nav a img{
    width:.18rem;
    height: .18rem;
}
.shop_nav a span{
    font-size:.14rem;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-left: .07rem;
}
.shop_nav span{
    font-size:.14rem;
    font-weight: 100;
    color:rgb(153, 153, 153);
}
/* shop content */
.shop_content{
    width:100%;
    height:auto;
    background: #fff;
    box-sizing: border-box;
    padding:0 .1rem;
}
.shop_list{
    width:100%;
    height: auto;
    padding-top:.15rem;
    padding-bottom: .04rem;
    display: flex;
    align-items: center;
}
.list_select,.goods_img{
    text-align: center;
    margin-right: .1rem;
}
.list_select img{
    width:.18rem;
    height: .18rem;
}
.goods_img{
    background-color: rgba(0, 0, 0, 0.05);
}
.goods_img img{
    width:.74rem;
    height: .74rem;
    background-color: rgba(0, 0, 0, 0.05);
}
.goods_info{
    flex:1;
    height: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.goods_info p{
    font-size:.14rem;
    color:rgb(51, 51, 51);
    line-height: .18rem;
    
}
.info_num{
    display:flex;
    width:100%;
    justify-content: space-between;
    height: auto;
}
.info_num .money{
    flex:1;
    display:flex;
}
.money span{
    display: block;
    color:rgb(191, 17, 17);
    line-height: .2rem;
}
.money span:nth-child(1){
    font-size: .1rem;
}
.money span:nth-child(2){
    font-size: .14rem;
}
.reduce_add{
    display: flex;
    border:1px solid #b4b4b4;
}
.reduce_add span{
    display: block;
    width:.31rem;
    height: .2rem;
    text-align: center;
    font-size: .12rem;
}
.nums{
    border-left:1px solid #b4b4b4;
    border-right:1px solid #b4b4b4;
}
/* recomnd */
.recomnd{
    width:100%;
    height: auto;
    box-sizing: border-box;
    padding: .1rem;
    margin-top:.1rem;
    background: #fff;
}
.recomnd_txt{
    width:100%;
    height: .46rem;
    text-align: center;
    line-height: .46rem;
}
.recomnd_txt p{
    font-size:.15rem;
    color:rgb(51, 51, 51);
}
.recomnd_goods{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.r_goods_list{
    width:100%;
    height: auto;
}
.r_goods_list{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;

}
.r_goods_list .r_img{
    width:1.72rem;
    height: 1.72rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.02); */
}
.r_img img{
    width:1.4rem;
    height: 1.4rem;
}
.r_txt,.r_tit{
    width:1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.r_txt{
    font-size: .12rem;
    color: rgb(159, 128, 82);
    line-height: .3rem;
    padding: 0 3px;
    background-color: rgb(245, 242, 240); 
}
.r_tit{
    font-size: .13rem;
    line-height: .2rem;
    color: rgb(51, 51, 51);
    margin-top:4px;
}
.r_price{
    height: auto;
    padding: .05rem;
    display: flex;
}
.r_price span{
    display: block;
    color: rgb(182, 9, 9);
}
.r_price span:nth-child(1){
    font-size: .1rem;
}
.r_price span:nth-child(2){
    font-size: .14rem;
}
   
/* footer */
.footer{
    display: flex;
    align-items: center;
    
}
.foot_left{
    display:flex;
    flex:1;
    justify-content: space-between;
}
.foot_left .bot_select{
    display:flex;
    flex:1;
    margin-left: .1rem;
}
.bot_select img{
    width:.18rem;
    height:.18rem;
}
.bot_select span{
    color:rgb(51, 51, 51);
    font-size:.12rem;
    margin-left: .07rem;
}
.total{
    display: flex;
}
.total .spans{
    font-size:.13rem;
    color:rgb(191, 17, 17);
}
.total .span_total{
    color:rgb(51, 51, 51);
}
.foot_right{
    width:1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(191, 17, 17);
    margin-left:.07rem;
}
.foot_right span{
    font-size: .13rem;
    color:#fff;

}


